body {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    
}
#button1 {
	text-align: center;
	font-size: medium;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(134, 96, 204) !important;
}

#myButton {
	text-align:center;
	font-size: medium;
	right: 50%;
}


h1 {
    color: blue  ; 
    text-align: center;
    /* it won't be blue. but we can make it be */
    /* by adding !important */
}


#left-container {
	background-color: #eee;
	width: 15%;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 15px;
}

#right-container {
	background-color: #eee;
	width: 15%;
	right: 12px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}   

.plant-holder {
	position: relative;
	height: 13%;
	left: -15px;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.jar-walls {
	height: 80%;
	width: 40%;
	background: #d1e1df;
	border-radius: 4rem;
	position: absolute;
	bottom: 0.5%;
	left: 30%;
	opacity: 0.5;
	z-index: 1;
    
}

.jar-top {
	width: 30%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 80.5%;
	left: 35%;
	opacity: 0.7;
	z-index: 1;
}

.jar-bottom {
	width: 30%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 35%;
	opacity: 0.7;
}

.dirt {
	width: 39%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 4rem 4rem;
	bottom: 1%;
	left: 30.5%;
	opacity: 0.7;
	z-index: -1;
}


.jar-glossy-long {
    width: 3%;
    height: 20%;
    background-color: #d9fdfd;
    position: absolute;
    border-radius: 2rem;
    top: 60%;
    left: 7%;
    /* opacity: ; */
    z-index: 1;
}

.jar-glossy-short {
    width: 3%;
    height: 5%;
    background-color: #d9fdfd;
    position: absolute;
    border-radius: 2rem;
    top: 50%;
    left: 7%;
    /* opacity: ; */
    z-index: 1;


}

